[user]
	name = Mark McKinstry
	email = mmckinst@example.com
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[alias]
	st = status --short
	ci = commit
	df = diff
	br = branch
	bra = branch -a
	co = checkout
[core]
	editor = emacs
[merge]
	stat = true
