[user]
	name = Mark McKinstry
	email = mmckinst@example.com
[color]
	ui = auto
[alias]
	co = checkout
	st = status --short
	br = branch
	tree = log --graph --oneline
[core]
	editor = emacs
[merge]
	stat = true
[push]
	default = simple
