[user]
	name = Mark McKinstry
	email = mmckinst@example.com
[color]
	ui = auto
[alias]
	st = status --short
	ci = commit
	df = diff
	br = branch
	bra = branch -a
	co = checkout
	tree = log --graph --oneline
[core]
	editor = emacs
[merge]
	stat = true
[push]
	default = simple
